<div id="contact-<%= @contact.id%>-activity-tab-content" class="tab-content">
    <div id="<%=@contact%>_activity" class="tab-pane active" role="tabpanel" aria-labelledby="activity-tab">
        ...
    </div>
    <div id="contact-<%= @contact.id%>-touchpoints-tab-content" class="tab-pane" role="tabpanel" aria-labelledby="touchpoints-tab">
        <%= render "contacts/index/contact/tabs/content/touchpoints.html.erb", locals:{contact: @contact}%>
    </div>

    <div id="contact-<%= @contact.id%>-deals-tab-content" class="tab-pane" role="tabpanel" aria-labelledby="deals-tab">
        <%= render "contacts/index/contact/tabs/content/deals.html.erb", locals:{contact: @contact}%>
    </div>
    <div id="contact-<%= @contact.id%>-settings-tab-content" class="tab-pane" role="tabpanel" aria-labelledby="settings-tab">
        ...
    </div>
</div>