<% @contacts.each do |contact|%>
    <% @contact = Contact.find_by(id: contact.id) %>
    <div id="<%=contact.id%>-info" class="contact-info containter px-5">
        <%= render "contacts/index/contact/info.html.erb", :locals=>{contact: @contact}%>
        <br /><br />
        <%= render "contacts/index/contact/tabs/tabs.html.erb", locals:{contact:@contact}%>
        <%= render "contacts/index/contact/tabs/content.html.erb", locals:{contact:@contact}%>
        

        <div class="contact-footer">
            <div class="contact-add">
                <%= link_to "+", new_contact_url, :class=>"btn-sm btn-light" %>
            </div>

            <div class="contact-links">
                <%= link_to "Edit", edit_contact_url(contact), :class=>"mr-3 contact-info-link" %>
                <%= link_to "Delete", contact_url(contact), method: :delete, :class=>"contact-info-link"%>
            </div>
        </div>

    </div>
<% end %>