<div class="tab-content">
    <div id="contact-<%= contact.id%>-activity-tab-content" class="tab-pane active" role="tabpanel" aria-labelledby="activity-tab">
        <%= link_to "All", contact_url(contact)%>
        <br /><br />

        Activity
    </div>

    <div id="contact-<%= contact.id%>-touchpoints-tab-content" class="tab-pane" role="tabpanel" aria-labelledby="touchpoints-tab">
        <%= link_to "+", new_contact_touchpoint_url(contact)%>
        <br /><br />

        <% contact.touchpoints.each do |touch|%>
                <%= link_to [contact, touch] do %>
                <p><%= touch.description%></p>
            <% end %>
            <hr />
        <% end %>
    </div>

    <div id="contact-<%= contact.id%>-deals-tab-content" class="tab-pane" role="tabpanel" aria-labelledby="deals-tab">
        <%= link_to "+", new_deal_url%>
        <br /><br />
        
        <% contact.deals.each do |deal|%>
            <%= link_to deal do %>
                <p><%= deal.title%></p>
            <% end %>
            <hr />
        <% end %>
    </div>

    <div id="contact-<%= contact.id%>-settings-tab-content" class="tab-pane" role="tabpanel" aria-labelledby="settings-tab">
        Settings
    </div>
</div>