<div class="">    
    <div class="row px-3">
        <%= link_to company do%>
            <h3> <%= company.name %> </h3>
        <% end %>
    </div>

    <div class="row mt-3 mb-3 px-3">
        <%=link_to "Call", company_url(company), :class=>"mr-3"%>
        <%=link_to "Email", company_url(company), :class=>"mr-3"%>
        <%=link_to "Meet", company_url(company), :class=>"mr-3"%>
        <%=link_to "Task", company_url(company), :class=>"mr-3"%>
        <%=link_to "Note", company_url(company), :class=>"mr-3"%>
    </div>
    <br />

    <div class="mb-5">
        <div class="detail-card row">
            <div class="detail-heading col">Phone</div> 
            <div class="detail-text col">
                <%= company.phone %>
                <div class="detail-seperator">
                    <hr />
                </div>
            </div>
        </div>
        <div class="detail-card row">
            <div class="detail-heading col">Email</div> 
            <div class="detail-text col">
                <%# company.email %>
                <div class="detail-seperator">
                    <hr />
                </div>
            </div>
        </div>
        <div class="detail-card row">
            <div class="detail-heading col">Company</div> 
            <div class="detail-text col">
                <%# if company.company %>
                    <%# link_to company.company do %>
                        <%# company.company.name %>
                    <%# end %>
                <%# else %>
                    <%= link_to "Add Contact", add_company_contacts_url(company) %></span>
                <%# end %>
                <div class="detail-seperator">
                    <hr />
                </div>
            </div>
        </div>
        <div class="detail-card row">
            <div class="detail-heading col">Status</div> 
            <div class="detail-text col">
                <%# get_label_text(company.label)%>
                <div class="detail-seperator">
                    <hr />
                </div>
            </div>
        </div>
        
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <%= link_to "+", new_company_url, :class=>"company-info-link" %>
        </div>

        <div class="col-6">
            <%= link_to "Edit", edit_company_url(company), :class=>"mr-3 company-info-link" %>
            <%= link_to "Delete", company_url(company), method: :delete, :class=>"company-info-link"%>
        </div>
    </div>
</div>
