<div id="tabs">
    <ul class="nav" id="company-<%= company.id%>-tabs" role="tablist">
        <li class="nav-item">
            <a class="company-<%= company.id%>-tab-link nav-link active company-info-nav-link" id="company-<%= company.id%>-activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="true">Activity</a>
        </li>

        <li class="nav-item">
            <a class="company-<%= company.id%>-tab-link nav-link company-info-nav-link" id="company-<%= company.id%>-touchpoints-tab" data-toggle="tab" href="#touchpoints" role="tab" aria-controls="touchpoints" aria-selected="false">Touchpoints</a>
        </li>

        <li class="nav-item">
            <a class="company-<%= company.id%>-tab-link nav-link company-info-nav-link" id="company-<%= company.id%>-deals-tab" data-toggle="tab" href="#deals" role="tab" aria-controls="deals" aria-selected="false">Deals</a>
        </li>
        
        <li class="nav-item">
            <a class="company-<%= company.id%>-tab-link nav-link company-info-nav-link" id="company-<%= company.id%>-settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
        </li>
    </ul>
</div>