<% if user_signed_in? and !current_page?(controller:"home", action:"index")%>
        <div class="" id="">
            <div class="">
                <%=link_to "Dashboard", dashboard_url, :class => "nav-link sidebar-item" %>
                <%=link_to "Contacts", contacts_url, :class => "nav-link sidebar-item" %>
                <%=link_to "Companies", companies_url, :class => "nav-link sidebar-item" %>
                <%=link_to "Deals", deals_url, :class => "nav-link sidebar-item" %>
                <%=link_to "Pipelines", pipelines_url, :class => "nav-link sidebar-item" %>
            </div>
        </div>
<% end %>