<div class="container p-5">
    <div>
        <h3> <%= @pipeline.title %> </h3>
        <hr />
    </div>
    
    <div class=" mb-5 pb-5">
        <div class="row">
            <% label_options.each do |label| %>
                <div class="col-sm">
                    <h5><%= label %></h5>

                    <% @pipeline.deals.where(label: get_label(label)).each do |deal|%>
                        <%= link_to deal.title, deal_url(deal) %>
                    <% end %>

                </div>
            <% end %>
        </div>
    </div>
    <br />
    <br />
    <br />

    <!-- LINKS -->
    <div>
        <%= link_to "Edit Pipeline Deals", add_pipeline_deal_url(@pipeline) %>
        <br />
        <%= link_to "Edit Pipeline", edit_pipeline_url(@pipeline) %>
        <br />
        <%= link_to "Delete", pipeline_url(@pipeline), method: :delete %>
    </div>
</div>