<div class="my-2 contact-link" id="<%=contact.id%>">
        <span id="<%=contact.id%>"> <%= contact.name %>
            <% if contact.company %>
                <small id="<%=contact.id%>" class="ml-2 text-secondary"><%= contact.company.name %></small>
            <%end%>
        </span>
</div>