<div id="contact-index-wrapper" class="row">
    <div class="col-md-4 px-4 py-3">
        <div class="mb-3">
            <%= render "search.html.erb"%>
        </div>
        <%= render @contacts %>

        <div class="mt-5">
            <br />
            <br />
            <br />
            <br />
            <%= link_to "+", new_contact_url, :class=>"btn-sm btn-light" %>
        </div>
    </div>
    <div id="contact-info-col" class="col-md border-left p-3">
        <% @contacts.each do |contact|%>
            <% @contact = Contact.find_by(id: contact.id) %>
            
            <div id="<%=contact.id%>-info" class="contact-info">
                <%= render "contact_info.html.erb", :locals=>{contact: @contact}%>
            </div>

        <% end %>
    </div>
</div>

<script>
    $(".contact-info").hide()
    $(".contact-link").click(function(event){
        style_contact_link(event.target.id)
        toggle_contact_info(event.target.id)
    });

    style_contact_link = function(t){
        $(".contact-link").removeClass("text-secondary")
        $(`#${t}`).removeClass("text-dark")
        $(`#${t}`).addClass("text-secondary")
    }
    
    toggle_contact_info = function(t){
        $(".contact-info").hide()
        $(`#${event.target.id}-info`).show()
    }
</script>