<div id="contact-index-wrapper" class="row">
    <div class="col-lg px-5 py-4">
        <div class="mb-3">
            <!-- SEARCH -->
            <%= form_tag contacts_path, method: :get do %>
                <div class="">
                    <div class="form-group">
                        <%= text_field_tag :search, params[:search], :class=>"form-control form-control-sm", :placeholder=>"Search for a contact"%>
                    </div>
                </div>
            <% end %>
        </div>
        <!-- LEFT CONTACT EXPLORER -->
        <%= render @contacts %>
    </div>

    <!-- RIGHT CONTENT COL -->
    <div id="contact-info-col" class="col-lg-8 border-left px-5 pt-5">
        <% @contacts.each do |contact|%>
            <% @contact = Contact.find_by(id: contact.id) %>

            <!-- CONTENT CONTAINER -->
            <div id="<%=contact.id%>-info" class="contact-info containter px-5">
                <div id="top-contact-info">   
                    <div id="contact-header">
                        <h3> <%= @contact.name %> </h3>
                        <span class="badge badge-primary"><%= get_label_text(@contact.label)%></span><!-- FOR SAME LINE BADGE - DIV: class="d-flex" style="align-items: center;" -->
                    </div>
                    <br />
                    <div id="contact-details" class="contact-details-container">
                        <span class="clearfix contact-details">
                            <span class="contact-details-heading float-left">
                                phone
                            </span>
                            <span class="contact-details-text float-right">
                                <%= @contact.phone %>
                            </span>
                        </span>

                        <hr />

                        <div class="contact-details clearfix">
                            <span class="contact-details-heading float-left">
                                email
                            </span>
                            <span class="contact-details-text float-right">
                                <%= @contact.email %>
                            </span>
                        </div>

                        <hr />

                        <div class="contact-details clearfix">
                            <span class="contact-details-heading float-left">
                                company
                            </span>

                            <span class="contact-details-text float-right">
                                <% if @company %>
                                    <%= link_to @company do %>
                                        <span><%= @company.name %></span>
                                    <% end %>
                                <% else %>
                                    <span><%= link_to "Add Company", add_contact_company_url(@contact), :class=>"text-secondary contact-details-text" %></span>
                                <% end %>
                            </span>
                        </div>
                    </div>
                </div>
                <br /><br />

                <!-- TABS -->
                <div id="tabs">
                    <ul class="nav nav-pills" id="contact-<%= @contact.id%>-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="contact-<%= @contact.id%>-tab-link nav-link active contact-info-nav-link" id="contact-<%= @contact.id%>-activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="true">Activity</a>
                        </li>

                        <li class="nav-item">
                            <a class="contact-<%= @contact.id%>-tab-link nav-link contact-info-nav-link" id="contact-<%= @contact.id%>-touchpoints-tab" data-toggle="tab" href="#touchpoints" role="tab" aria-controls="touchpoints" aria-selected="false">Touchpoints</a>
                        </li>

                        <li class="nav-item">
                            <a class="contact-<%= @contact.id%>-tab-link nav-link contact-info-nav-link" id="contact-<%= @contact.id%>-deals-tab" data-toggle="tab" href="#deals" role="tab" aria-controls="deals" aria-selected="false">Deals</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="contact-<%= @contact.id%>-tab-link nav-link contact-info-nav-link" id="contact-<%= @contact.id%>-settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
                        </li>
                    </ul>
                </div>
                <br />

                <!-- TAB CONTENT -->
                <div class="tab-content">

                    <div id="contact-<%= @contact.id%>-activity-tab-content" class="tab-pane active" role="tabpanel" aria-labelledby="activity-tab">
                        <%= link_to "All", contact_url(@contact)%>
                        <br /><br />
                        Activity
                    </div>

                    <div id="contact-<%= @contact.id%>-touchpoints-tab-content" class="tab-pane" role="tabpanel" aria-labelledby="touchpoints-tab">
                        <%= link_to "+", new_contact_touchpoint_url(@contact)%>
                        <br /><br />
                        <% @contact.touchpoints.each do |touch|%>
                                <%= link_to [@contact, touch] do %>
                                <p><%= touch.description%></p>
                            <% end %>
                            <hr />
                        <% end %>
                    </div>

                    <div id="contact-<%= @contact.id%>-deals-tab-content" class="tab-pane" role="tabpanel" aria-labelledby="deals-tab">
                        <%= link_to "+", new_deal_url%>
                        <br /><br />
                        <% @contact.deals.each do |deal|%>
                            <%= link_to deal do %>
                                <p><%= deal.title%></p>
                            <% end %>
                            <hr />
                        <% end %>
                    </div>

                    <div id="contact-<%= @contact.id%>-settings-tab-content" class="tab-pane" role="tabpanel" aria-labelledby="settings-tab">
                        Settings
                    </div>
                </div>

                
                <!-- BOTTOM ADD/EDIT/DELETE LINKS -->
                <div class="contact-footer">
                    <div class="contact-add">
                        <%= link_to "+", new_contact_url, :class=>"btn-sm btn-light" %>
                    </div>

                    <div class="contact-links">
                        <%= link_to "Edit", edit_contact_url(contact), :class=>"mr-3 contact-info-link" %>
                        <%= link_to "Delete", contact_url(contact), method: :delete, :class=>"contact-info-link"%>
                    </div>
                </div>

            </div>
        <% end %>
    </div>
</div>


<script>
    $(".contact-info").hide()

    $(".contact-link").click(function(event){
        current_contact = event.target.id

        style_contact_link(current_contact)
        toggle_contact_info(current_contact)

        remove_active_tabs(current_contact)
        make_first_tab_active(current_contact)

        hide_all_tab_content(current_contact)
        show_first_tab_content(current_contact)
    });

    style_contact_link = function(t){
        $(".contact-link").removeClass("text-secondary")
        $(`#${t}`).removeClass("text-dark")
        $(`#${t}`).addClass("text-secondary")
    }

    $(".contact-info-nav-link").click(function(event){
        $(".contact-info-nav-link").removeClass("active")
        $(`#${event.target.id}`).addClass("active")
        $(".tab-pane").hide()
        $(`#${event.target.id}-content`).show()
    })

    toggle_contact_info = function(t){
        $(".contact-info").hide()
        $(`#${event.target.id}-info`).show()
    }
    remove_active_tabs = function(id){
        $(`.contact-${id}-tab-link`).removeClass("active")
    }
    make_first_tab_active = function(id){
        $(`#contact-${id}-tabs`).find("a:first").addClass("active")
    }
    hide_all_tab_content = function(){
        $(".tab-pane").hide()
    }
    show_first_tab_content = function(id){
        $(`#contact-${id}-activity-tab-content`).show()
    }
</script>