<div class="container">
    <h3> New Contact </h3>
    <hr />
</div>
<div>
    <%= form_for @contact do |f| %>
        <%= f.text_field :name %>
        <%= f.text_field :email %>
        <%= f.text_field :phone %>
        <%= f.submit %>
    <% end %>
</div>