<div class="container p-5 mx-auto">   
    <div class="row px-3">
        <%= link_to contacts_url do %>
            <p> Back to Contacts </p>
        <% end %>
    </div>
    
    
    <div class="row px-3">
        <h3> <%= @contact.name %> </h3>
    </div>

    <div class="row mt-3 mb-3 px-3">
        <%=link_to "Call", add_contact_call_url(@contact), :class=>"mr-3"%>
        <%=link_to "Email", add_contact_email_url(@contact), :class=>"mr-3"%>
        <%=link_to "Meet", add_contact_meeting_url(@contact), :class=>"mr-3"%>
        <%=link_to "Task", contact_url(@contact), :class=>"mr-3"%>
        <%=link_to "Note", contact_url(@contact), :class=>"mr-3"%>
    </div>
    <br />

    <div class="mb-5">
        <div class="detail-card row">
            <div class="detail-heading col">Phone</div> 
            <div class="detail-text col">
                <%= @contact.phone %>
                <div class="detail-seperator">
                    <hr />
                </div>
            </div>
        </div>
        <div class="detail-card row">
            <div class="detail-heading col">Email</div> 
            <div class="detail-text col">
                <%= @contact.email %>
                <div class="detail-seperator">
                    <hr />
                </div>
            </div>
        </div>
        <div class="detail-card row">
            <div class="detail-heading col">Company</div> 
            <div class="detail-text col">
                <% if @contact.company %>
                    <%= link_to @contact.company do %>
                        <%= @contact.company.name %>
                    <% end %>
                <% else %>
                    <%= link_to "Add Company", add_contact_company_url(@contact) %></span>
                <% end %>
                <div class="detail-seperator">
                    <hr />
                </div>
            </div>
        </div>
        <div class="detail-card row">
            <div class="detail-heading col">Status</div> 
            <div class="detail-text col">
                <%= get_label_text(@contact.label)%>
                <div class="detail-seperator">
                    <hr />
                </div>
            </div>
        </div>
        
    </div>

    <div class="clearfix mt-5">
        <div class="float-left">
            <%= link_to "+", new_contact_url, :class=>"contact-info-link" %>
        </div>

        <div class="float-right">
            <%= link_to "Edit", edit_contact_url(@contact), :class=>"mr-3 contact-info-link" %>
            <%= link_to "Delete", contact_url(@contact), method: :delete, :class=>"contact-info-link"%>
        </div>
    </div>
</div>


<style>


</style>