<div class="container">
    <h3> <%= @contact.name %> </h3>
    <hr />
</div>

<div class="container">
    <p> <%= @contact.phone %> </p>
    <p> <%= @contact.email %></p>
    <p> <%= get_label_text(@contact.label) %></p>
</div>

<!-- LINKS -->
<div class="container">
    <%= link_to "View Touchpoints", contact_touchpoints_url(@contact) %>
    <%= link_to "Edit", edit_contact_url(@contact) %>
    <%= link_to "Delete", contact_url(@contact), method: :delete %>
</div>