<div class="container mb-5 p-5">
    <div class="row">
        <div class="col-lg-6">
            <div id="contact-header" class="mb-5">
                <h3> <%= @contact.name %> </h3>
                <span class="badge badge-primary"><%= get_label_text(@contact.label)%></span><!-- FOR SAME LINE BADGE - DIV: class="d-flex" style="align-items: center;" -->
            </div>

            <div id="contact-details" class="mb-5">
                <div class="clearfix">
                    <div class="float-left">
                        phone
                    </div>
                    <div class="float-right">
                        <%= @contact.phone %>
                    </div>
                </div>
                <hr />

                <div class="clearfix">
                    <div class="float-left">
                        email
                    </div>
                    <div class="float-right">
                        <%= @contact.email %>
                    </div>
                </div>
                <hr />
                <div class="clearfix">
                    <div class="float-left">
                        company
                    </div>
                    <div class="float-right">
                        <% if @company %>
                            <%= link_to @company do %>
                                <%= @company.name %>
                            <% end %>
                        <% else %>
                            <%= link_to "Add Company", add_contact_company_url(@contact), :class=>"mr-3 text-secondary" %>
                        <% end %>

                    </div>
                </div>
            </div>

            <div id="contact-links">
                <%= link_to "Edit", edit_contact_url(@contact), :class=>"mr-3 text-secondary" %>
                <%= link_to "Delete", contact_url(@contact), method: :delete, :class=>"text-secondary"%>
                <%= link_to "Touchpoints", contact_touchpoints_url(@contact), :class => "float-right" %>
            </div>  
        </div>

        <div class="col-lg-8"> 
            <!-- Right Col -->
        </div>
    </div>
</div>