<div class="my-2 company-link" id="<%=company.id%>">
        <span id="<%=company.id%>"> <%= company.name %>
        </span>
</div>



            <%
=begin%>
 <% if company.contacts %>
                <% company.contacts.each do |contact|%>
                    <small id="<%=contact.id%>" class="ml-2 text-secondary"><%= contact.name %></small>
                <% end %>
            <%end%> 
<%
=end%>
<% # end %>