<div class="my-2 company-link row" id="<%=company.id%>">
        <div id="<%=company.id%>" class="col-4">
            <span id="<%=company.id%>"> 
                <%= link_to company do %>
                    <%= company.name %>
                <% end %>
            </span>
        </div>

        <div id="<%=company.id%>" class="col-3">
            <small id="<%=company.id%>" class="text-secondary"> <%= company.phone%> </small>
        </div>
</div>