<div id="company-index-wrapper" class="row">
    <div class="col-lg px-5 py-4">
        <div class="mb-3">
            <!-- SEARCH -->
            <%= form_tag companies_path, method: :get do %>
                <div class="">
                    <div class="form-group">
                        <%= text_field_tag :search, params[:search], :class=>"form-control form-control-sm", :placeholder=>"Search for a company"%>
                    </div>
                </div>
            <% end %>
        </div>
        <!-- LEFT company EXPLORER -->
        <%= render @companys %>
    </div>

    <!-- RIGHT CONTENT COL -->
    <div id="company-info-col" class="col-lg-7 border-left px-5 pt-5">
        <% @companys.each do |company|%>
            <% @company = Company.find_by(id: company.id) %>

            <!-- CONTENT CONTAINER -->
            <div id="<%=company.id%>-info" class="company-info containter px-5">
                <div id="top-company-info">   
                    <div id="company-header">
                        <h3> <%= @company.name %> </h3>
                    </div>
                    <br />
                    <div id="company-details" class="company-details-container">
                        <span class="clearfix company-details">
                            <span class="company-details-heading float-left">
                                phone
                            </span>
                            <span class="company-details-text float-right">
                                <%= @company.phone %>
                            </span>
                        </span>

                        <hr />

                        <div class="company-details clearfix">
                            <span class="company-details-heading float-left">
                                email
                            </span>
                            <span class="company-details-text float-right">
                                <%# @company.email %>
                            </span>
                        </div>

                        <hr />

                        <div class="company-details clearfix">
                            <span class="company-details-heading float-left">
                                company
                            </span>

                            <span class="company-details-text float-right">
                                <% if @company %>
                                    <%= link_to @company do %>
                                        <%= @company.name %>
                                    <% end %>
                                <% else %>
                                    <span><%= link_to "Add Company", add_company_url(@company), :class=>"text-secondary company-details-text" %></span>
                                <% end %>
                            </span>
                        </div>
                    </div>
                </div>
                <br /><br />

                <!-- TABS -->
                <div id="tabs">
                    <ul class="nav nav-pills" id="company-<%= @company.id%>-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="company-<%= @company.id%>-tab-link nav-link active company-info-nav-link" id="company-<%= @company.id%>-activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="true">Activity</a>
                        </li>

                        <li class="nav-item">
                            <a class="company-<%= @company.id%>-tab-link nav-link company-info-nav-link" id="company-<%= @company.id%>-touchpoints-tab" data-toggle="tab" href="#touchpoints" role="tab" aria-controls="touchpoints" aria-selected="false">Touchpoints</a>
                        </li>

                        <li class="nav-item">
                            <a class="company-<%= @company.id%>-tab-link nav-link company-info-nav-link" id="company-<%= @company.id%>-deals-tab" data-toggle="tab" href="#deals" role="tab" aria-controls="deals" aria-selected="false">Deals</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="company-<%= @company.id%>-tab-link nav-link company-info-nav-link" id="company-<%= @company.id%>-settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
                        </li>
                    </ul>
                </div>
                <br />

                <!-- TAB CONTENT -->
                <div class="tab-content">

                    <div id="company-<%= @company.id%>-activity-tab-content" class="tab-pane active" role="tabpanel" aria-labelledby="activity-tab">
                        <%= link_to "All", company_url(@company)%>
                        <br /><br />
                        Activity
                    </div>

                    <%
=begin%>
 <div id="company-<%= @company.id%>-touchpoints-tab-content" class="tab-pane" role="tabpanel" aria-labelledby="touchpoints-tab">
                        <%= link_to "+", new_company_touchpoint_url(@company)%>
                        <br /><br />
                        <% @company.touchpoints.each do |touch|%>
                                <%= link_to [@company, touch] do %>
                                <p><%= touch.description%></p>
                            <% end %>
                            <hr />
                        <% end %>
                    </div> 
<%
=end%>

                    <div id="company-<%= @company.id%>-deals-tab-content" class="tab-pane" role="tabpanel" aria-labelledby="deals-tab">
                        <%= link_to "+", new_deal_url%>
                        <br /><br />
                        <% @company.deals.each do |deal|%>
                            <%= link_to deal do %>
                                <p><%= deal.title%></p>
                            <% end %>
                            <hr />
                        <% end %>
                    </div>

                    <div id="company-<%= @company.id%>-settings-tab-content" class="tab-pane" role="tabpanel" aria-labelledby="settings-tab">
                        Settings
                    </div>
                </div>

                
                <!-- BOTTOM ADD/EDIT/DELETE LINKS -->
                <div class="company-footer">
                    <div class="company-add">
                        <%= link_to "+", new_company_url, :class=>"btn-sm btn-light" %>
                    </div>

                    <div class="company-links">
                        <%= link_to "Edit", edit_company_url(company), :class=>"mr-3 company-info-link" %>
                        <%= link_to "Delete", company_url(company), method: :delete, :class=>"company-info-link"%>
                    </div>
                </div>

            </div>
        <% end %>
    </div>
</div>


<script>
    $(".company-info").hide()

    $(".company-link").click(function(event){
        current_company = event.target.id

        style_company_link(current_company)
        toggle_company_info(current_company)

        remove_active_tabs(current_company)
        make_first_tab_active(current_company)

        hide_all_tab_content(current_company)
        show_first_tab_content(current_company)
    });

    style_company_link = function(t){
        $(".company-link").removeClass("text-secondary")
        $(`#${t}`).removeClass("text-dark")
        $(`#${t}`).addClass("text-secondary")
    }

    $(".company-info-nav-link").click(function(event){
        $(".company-info-nav-link").removeClass("active")
        $(`#${event.target.id}`).addClass("active")
        $(".tab-pane").hide()
        $(`#${event.target.id}-content`).show()
    })

    toggle_company_info = function(t){
        $(".company-info").hide()
        $(`#${event.target.id}-info`).show()
    }
    remove_active_tabs = function(id){
        $(`.company-${id}-tab-link`).removeClass("active")
    }
    make_first_tab_active = function(id){
        $(`#company-${id}-tabs`).find("a:first").addClass("active")
    }
    hide_all_tab_content = function(){
        $(".tab-pane").hide()
    }
    show_first_tab_content = function(id){
        $(`#company-${id}-activity-tab-content`).show()
    }
</script>

<%
=begin%>
 <div id="company-index-wrapper" class="row">
    <div class="col-md-4 px-4 py-3">
        <div class="mb-3">
            <%= render "search.html.erb"%>
        </div>
        <%= render @companys %>

        <div class="mt-5">
            <br />
            <br />
            <br />
            <br />
            <%= link_to "+", new_company_url, :class=>"btn-sm btn-light" %>
        </div>
    </div>
    <div id="company-info-col" class="col-md border-left p-3">
        Company info goes here
    </div>
</div> 
<%
=end%>

<%# extra %>