<% content_for :page_links do %>
    <%=link_to "All", contacts_url, :class => "nav-link sidebar-item" %>
    <%=link_to "Recent", contacts_url, :class => "nav-link sidebar-item" %>
    <%=link_to "Leads", contacts_url, :class => "nav-link sidebar-item" %>
    <%=link_to "Referals", contacts_url, :class => "nav-link sidebar-item" %>
    <%=link_to "Oppurtunities", contacts_url, :class => "nav-link sidebar-item" %>
    <%=link_to "Active Deals", contacts_url, :class => "nav-link sidebar-item" %>
    <%=link_to "Customers", contacts_url, :class => "nav-link sidebar-item" %>
<% end %>

<div id="company-index-wrapper" class="row">
    <div class="col-lg-5 px-5 py-5">
        <div class="mb-3">
            <%= form_tag companies_path, method: :get do %>
                <div class="form-group">
                    <%= text_field_tag :search, params[:search], :class=>"form-control form-control-sm", :placeholder=>"Search for a company"%>
                </div>
            <% end %>
        </div>
        <%= render @companys %>
    </div>

    <div id="contact-info-col" class="col-lg px-5 pt-5 mr-3">
        <%= render partial: "companies/index/company", collection: @companys, as: :company%>
    </div>
</div>


<script>
    $(".company-info").hide()

    $(".company-link").click(function(event){
        current_company = event.target.id

        style_company_link(current_company)
        toggle_company_info(current_company)

        remove_active_tabs(current_company)
        make_first_tab_active(current_company)

        hide_all_tab_content(current_company)
        show_first_tab_content(current_company)
    });

    style_company_link = function(t){
        $(".company-link").removeClass("text-secondary")
        $(`#${t}`).removeClass("text-dark")
        $(`#${t}`).addClass("text-secondary")
    }

    $(".company-info-nav-link").click(function(event){
        $(".company-info-nav-link").removeClass("active")
        $(`#${event.target.id}`).addClass("active")
        $(".tab-pane").hide()
        $(`#${event.target.id}-content`).show()
    })

    toggle_company_info = function(t){
        $(".company-info").hide()
        $(`#${event.target.id}-info`).show()
    }
    remove_active_tabs = function(id){
        $(`.company-${id}-tab-link`).removeClass("active")
    }
    make_first_tab_active = function(id){
        $(`#company-${id}-tabs`).find("a:first").addClass("active")
    }
    hide_all_tab_content = function(){
        $(".tab-pane").hide()
    }
    show_first_tab_content = function(id){
        $(`#company-${id}-activity-tab-content`).show()
    }
</script>

<%
=begin%>
 <div id="company-index-wrapper" class="row">
    <div class="col-md-4 px-4 py-3">
        <div class="mb-3">
            <%= render "search.html.erb"%>
        </div>
        <%= render @companys %>

        <div class="mt-5">
            <br />
            <br />
            <br />
            <br />
            <%= link_to "+", new_company_url, :class=>"btn-sm btn-light" %>
        </div>
    </div>
    <div id="company-info-col" class="col-md border-left p-3">
        Company info goes here
    </div>
</div> 
<%
=end%>

<%# extra %>