<div class="container p-5">
    <h3> Edit Deal </h3>
    <hr />
    <%= form_for @deal do |f| %>
        <%= f.text_field :title, :class=>"form form-control", :placeholder=>"Title" %>
        <br />
        <%= f.text_area :description, :class=>"form form-control", :placeholder=>"Description" %>
        <br />
        <%= f.select :label, [['Lead', 1], ['Prospect', 2], ['Oppurtunity', 3], ['Deal', 4]], {}%>
        <%= f.submit "Save", :class=>"btn btn-primary"%>
    <% end %>
</div>