<% content_for :page_links do %>
    <%=link_to "Contact", contact_url(@contact), :class => "nav-link sidebar-item" %>
    <%=link_to "Activity", show_contact_activity_url, :class => "nav-link sidebar-item" %>
    <%=link_to "Calls", show_contact_calls_url, :class => "nav-link sidebar-item" %>
    <%=link_to "Emails", show_contact_emails_url, :class => "nav-link sidebar-item" %>
    <%=link_to "Meetings", show_contact_meetings_url, :class => "nav-link sidebar-item" %>
    <%=link_to "Deals", contacts_url, :class => "nav-link sidebar-item" %>
    <%=link_to "Tasks", contacts_url, :class => "nav-link sidebar-item" %>
<% end %>

<div class="container p-5 mt-5 w-50 mx-auto">
    <div class="row px-3">
        <%= link_to @contact do %>
            <h3> <%= @contact.name %> </h3>
        <% end %>
    </div>
    <br/>
    <% if @emails.any?%>
        <h4 class="activity-heading"> Emails </h4>
        <% @emails.each do |email|%>
            <div class="py-2 mt-2">
                <%= email.description %>
            </div>
            <hr />
        <% end %>
    <% else %>
        No emails to show for this contact.
    <% end %>
</div>