<div id="<%=deal.id%>-info" class="deal-info">
    <%= render partial: "/deals/index/details", locals:{deal: deal}%>
    <%= render partial: "/deals/index/tabs", locals:{deal: deal}%>
    <%= render partial: "/deals/index/tab_content", locals:{deal: deal}%>
    <%= render partial: "/deals/index/links", locals:{deal: deal}%>
</div>