<div id="tabs" class="mb-3">
    <ul class="nav nav-pills" id="deal-<%= deal.id%>-tabs" role="tablist">
        <li class="nav-item">
            <a class="deal-<%= deal.id%>-tab-link nav-link active deal-info-nav-link" id="deal-<%= deal.id%>-activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="true">Activity</a>
        </li>

        <li class="nav-item">
            <a class="deal-<%= deal.id%>-tab-link nav-link deal-info-nav-link" id="deal-<%= deal.id%>-touchpoints-tab" data-toggle="tab" href="#touchpoints" role="tab" aria-controls="touchpoints" aria-selected="false">Touchpoints</a>
        </li>

        <li class="nav-item">
            <a class="deal-<%= deal.id%>-tab-link nav-link deal-info-nav-link" id="deal-<%= deal.id%>-deals-tab" data-toggle="tab" href="#deals" role="tab" aria-controls="deals" aria-selected="false">Deals</a>
        </li>
        
        <li class="nav-item">
            <a class="deal-<%= deal.id%>-tab-link nav-link deal-info-nav-link" id="deal-<%= deal.id%>-settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
        </li>
    </ul>
</div>