<!DOCTYPE html>
<html>
  <head>
    <title>ContactBase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-wrapper" class="d-flex">
      <%= render 'shared/sidebar.html.erb'%>
      <div id="page-content-wrapper">
        <%= render 'shared/navbar.html.erb'%>
        <div class="container-fluid">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <div class="container p-5">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
