<!DOCTYPE html>
<html>
  <head>
    <title>ContactBase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-wrapper" class="d-flex">
      <div id="sidebar-wrapper">
        <% if user_signed_in? and !current_page?(controller:"home", action:"index")%>
          <%= render 'shared/sidebar.html.erb'%>
        <% end %>
      </div>

      <div id="page-content-wrapper">
        <%= render 'shared/navbar.html.erb'%>
        <div class="container-fluid">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
    </div>
  </body>
</html>
